<!DOCTYPE html>
<html>
 
<head>
    <meta charset="UTF-8">
</head>
 
<body>
    <p><%=name %></p>
    <p><%=message %></p>
    <form action="/" method="post">
        <input type="text" name="name" value="Name">
        <input type="text" name="message" value="Message">
        <button type="submit" name="button">POST</button>
    </form>
</body>
 
</html>